/* You can add global styles to this file, and also import other style files */


body {
    margin-top: 10px;
    margin-left: 10px;
}

button {
    /* margin-top: 10px; */

    flex: 1;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: hsl(106, 85%, 26%);
    margin: .5em .5em .5em 0em;
    padding: .5em;
    border-radius: 4px;
    display: flex;
    align-items: stretch;
    height: 2em;
    color: white;
}

button:hover {
    color: white;
    background-color: rgb(14, 206, 24);
    left: .1em;
}

ul.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}